.cartList{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  @media screen and (max-width: 576px) {
    grid-template-columns: auto;
  }
}

.btn{
  padding: 1.5rem 3.5rem;
  color: white;
  background: darkblue;
  margin: 1.5rem 0;
  border-radius: .75rem;
}